<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicia Jeffers - Software Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/minireset.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/animations.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>
    <div class="wallpaper"></div>
    <div class="content">
        <aside class="side">
            <figure class="picture">
                <div class="picture-shadow"></div>
                <img id="pictureImage" class="picture-image" src="images/secondprofilepicture.jpg" alt="Portrait of Alicia Jeffers" width="320" height="320">
            </figure>
        </aside>
        <main class="about">
            <h1 class="name">
                Hi, I'm Alicia Jeffers
            </h1>
            <p class="job">
                Junior Developer
            </p>
            <hr class="hr">
            <div class="description">
                <p>
                    I spend my time coding, traveling, and creating things.
                </p>
            </div>
            <div class="contact">
                    <ul class="social">
                            <li>
                            <a>
                            <i class="fab fa-twitter" href="https://twitter.com/akjeffers"></i>
                            
                            </a>
                            </li>
                            <li>
                            <a>
                            <i class="fab fa-github" href="https://github.com/akjeffers"></i>
                            </a>
                            </li>
                            <li>
                            <a>
                            <i class="fab fa-linkedin" href="https://www.linkedin.com/in/aliciajefferswyandt/" ></i>
                            </a>
                            </li>
                            </ul>
                <a class="button" href="mailto:aliciakjeffers@live.com">
                    Contact Me!
                </a>
                <hr class="hr">
                <a class="button" href="mailto:aliciakjeffers@live.com">
                    Resume
                </a>
            </div>
        </main>
    </div>
</body>

</html>